<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestNG">
        <groups>
            <run>
                <include name="Tomandy"/>
            </run>
        </groups>
        <classes>
            <class name="net.qtt.com.BMW"/>
        </classes>
    </test> <!-- TestNG -->
    <test verbose="2" name="TestNG2">
        <classes>
            <class name="net.qtt.com.TestNGHelloWorld">
                <methods>
                    <include name="helloWorld"/>
                    <include name="helloWorld2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Default Suite -->